.card-image{
    margin-left: 52px;
}

.title{
    text-align: center;
    margin-bottom: 40px;
}

/* .modal-body{
    width: 100%;
} */

.details-img{
    margin-left: 150px;
    margin-bottom: 20px;
}